@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 77, 77, 0.938);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(77, 77, 77, 0.938);
}
