.cl-internal-zjqmcn {
    margin: 0px;
    outline: 0px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    transition-duration: 100ms;
    font-family: inherit;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.38462;
    --accent: hsla(0, 0%, 0%, 0.62);
    --accentHover: hsla(0, 0%, 0%, 0.73);
    --border: hsla(0, 0%, 0%, 0.15);
    --accentContrast: white;
    --alpha: hsla(0, 0%, 0%, 0.03);
    flex: 1 1 0%;
    gap: 1rem;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 1rem 1.25rem;
    background-color: rgba(197, 197, 197, 0.08);
    color: rgb(0, 0, 0);
    border: none;
    /* border-radius: 10px; */
}

.time-picker{
    background-color: rgb(255, 255, 255);
    padding: 60px;
    width: 300px;
    margin-left: 10px;
    border-radius: 12px;
}
.time-picker input{
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.time-picker input:hover{
    cursor: pointer;
}