/* Home container styles */
.home-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    flex-direction: column;
  }
  
  /* Background video styles */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    position: fixed;
  }
  
  /* Main content styles */
  .main-content {
    position: relative;
    z-index: 1; 
    text-align: center;
    padding: 2rem;
  
  }
  
  /* Main message text styles */
  .main-message {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  @media(max-width: 768px){
    .main-message{
      font-size: 1.4rem;
    }
    .about-message{
      width: 100%;
    }
  }
  
.sign-in-button{
   padding: 12px 30px;
   border-radius: 24px;
   border: none;
   background-color: rgba(147, 144, 144, 0.199);
   color: white !important;
   font-size: 14px;
   border: 1.5px solid rgba(147, 144, 144, 0.199);
   transition: all 0.3s ease-in-out;
}
.sign-in-button:hover{
   cursor: pointer;
   background-color: transparent;
   border: 1.5px solid rgba(164, 164, 164, 0.368);
}
  


.cl-internal-mp6rdp {
    background: rgba(192, 192, 192, 0.08);
    backdrop-filter: blur(20px);
    color: rgb(0, 0, 0);
}
.cl-internal-1z04dwh[data-variant="solid"]::after {
 
    background-color: rgba(8, 8, 8, 0.08);
}

.cl-internal-1v2koqu {
    color: rgb(255, 255, 255);
}
.cl-internal-1v2koqu:hover {
    color: rgb(255, 255, 255);
}

.about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: white;
    text-align: center;
    width: 100%;   
}
.about-content{
    background-color: rgba(96, 96, 96, 0.14);
    border-radius: 20px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(5px);    
    padding: 50px 30px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-message{
  width: 65vw;
  margin-bottom: 10px;
  background-color: rgba(96, 96, 96, 0.14);
    border-radius: 12px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(1px);    
    padding: 20px;
    font-weight: 500;
}
.footer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width: 768px){
  .main-message{
    font-size: 1.4rem;
  }
  .about-message{
    width: 100%;
  }
}